---
import {Image} from 'astro:assets'
import logo from '../assets/logo/grayscale_transparent.png'
---
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/blog">
            <Image src={logo} alt="Built bit by bit logo" width="300"/>
            </a>
        <div class="d-flex">
            <a class="nav-link home-link" href="/blog">Home</a>
        </div>
    </div>
</nav>
<style>
a.nav-link.home-link{
    position: relative;
    text-decoration: none;
}

a.nav-link.home-link::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-accent);
    transform: scale(0);
    transition: transform 0.3s ease;
    transform-origin: top left;
}

a.nav-link.home-link:hover::before{
    transform: scale(1);
}

@media(max-width: 460px){
    .navbar{
        align-items: center;
    }

    .navbar .container-fluid{
        justify-content: center;

    }

    .navbar .container-fluid a{
        text-align: center;
    }

    .navbar .container-fluid a img{
        margin-left: 16px;
    }

}

</style>