---
import {Image} from 'astro:assets'
import logo from '../assets/logo/grayscale_transparent.png'
---


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand home-link" href="/">
            <Image src={logo} alt="Built bit by bit logo" width="250"/>
        <div class="d-flex">
            <a class="nav-link home-link" href="/">Home</a>
        </div>
    </div>
</nav>

<style>
    .navbar-brand img{
        width: 100px;
    }
</style>

<script>
    try {
        const loc = window.location;
        console.log(loc)
        if(loc.origin.search('her0zer0')>=0){
            document.querySelector('a.home-link').href = '/blog';
        }
    } catch (error) {
        // die in silence
    }
</script>