---
import {Image} from 'astro:assets'
import logo from '../assets/logo/grayscale_transparent.png'
---


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/builtbitbybitblog">
            <Image src={logo} alt="Built bit by bit logo" width="250"/>
        <div class="d-flex">
            <a class="nav-link" href="/builtbitbybitblog">Home</a>
        </div>
    </div>
</nav>

<style>
    .navbar-brand img{
        width: 100px;
    }
</style>