---
import PostHeader from '../components/PostHeader.astro'
import Layout from './Layout.astro';
const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
            <div class="col">
            <PostHeader frontmatter={frontmatter}/>
            </div>
        <div class="row">
        <div class="col mt-5 px-5">
            <slot/>
        </div>
</Layout>


<style>
body{
    max-width: 1000px;
    margin: 0 auto;
  }
</style>