---
import PostHeader from '../components/PostHeader.astro'
import Layout from './Layout.astro';
const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
            <div class="col">
            <PostHeader frontmatter={frontmatter}/>
            </div>
        <div class="row">
        <div class="col mt-5 post-content">
            <slot/>
        </div>
</Layout>


<style>
body{
    max-width: 1000px;
    margin: 0 auto;
  }

.post-content{
  word-wrap: break-word;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media(max-width: 768px){
  .post-content{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .row{
    justify-content: center;
    margin: 0;
  }
}
</style>